<!doctype html>
<html class="no-js" lang="en">

{{>header}}
<body>
  {{>navbar}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <!---first col-->
                        <div class="col-md-6 col-12 main_header_left">
                                <p>Welcome to the weather {{app}}</p>
                                <h2>Get the latest <span class="txtclr">Weather</span> info of your city</h2>
                                <a href="/weather"> <button>check here</button></a>
                        </div>
                        <!---right side div-->
                        <div class="col-md-6 col-12 main_header_right">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="images/bg1.png" class=" w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="images/bg2.png" class=" w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="images/bg3.png" class=" w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </div>

                    </div>
    </div>
  </div>
  </div>


  
</body>
{{>footer}}

</html>