  <div class="container-fluid main-menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/"><i class="fa fa" aria-hidden="true"></i>Check weather
                                <i class="fa fa-sun" aria-hidden="true"></i></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse mx-auto " id="navbarSupportedContent">
                            <ul class="navbar-nav  ">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/weather">weather</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">About</a>
                                </li>


                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>